 .place__title {
    max-width: 460px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    align-self: end;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
  }
  
  @media screen and (max-width: 1280px) {
     .place__title {
      width: calc(100vw * (460 / 1280));
      font-size: calc(100vw * (72 / 1280));
      line-height: calc(100vw * (76 / 1280));
    }
  }

  @media screen and (max-width: 1024px) {
    .place__title {
     width: calc(100vw * (440 / 1024));
     font-size: calc(100vw * (72 / 1024));
     line-height: calc(100vw * (76 / 1024));
   }
 }

  @media screen and (max-width: 768px) {
     .place__title {
      width: 100%;
      font-size: 42px;
      line-height: calc(100vw * (46 / 768));
    }
  }

  @media screen and (max-width: 766px) {
    .place__title {
      line-height: 46px;
   }
 }
  
  @media screen and (max-width: 320px) {
     .place__title {
      width: calc(100vw * (288 / 320));
      font-size: calc(100vw * (32 / 320));
      line-height: calc(100vw * (35 / 320));
      padding: 0 5vw;
    }
  }
