@import url(./styles/normalize.css);

@font-face {
    font-family: "Inter-Medium";
    src: url(font/Inter-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Inter-Bold";
    src: url(font/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inter-Black";
    src: url(font/Inter-Black.ttf);
    font-weight: 900;
}


.page {
    max-width: 1280px;
    font-family: 'Inter-Medium', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #2A2C2F;
    color: #FFFFFF;
    margin: 0 auto;
}

















.header {
    max-width: 1184px;
    max-height: 54px;
    display: flex;
    justify-content: space-between;
    padding: 28px 0 0;
    margin: 0 auto;
   
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media screen and (max-width: 1024px) {
  .header {
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 5vw 5vw 0;
    margin: 0;
  }
}


.__logo {
    width: 142px;
    height: 42px;
    background-image: url('./sprint-3-images/header-logo.svg');
    background-size: cover;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 320px) {
    .header .__logo {
      width: calc(100vw * (142 / 320));
      height: calc(100vw * (42 / 320));
    }
  }















.lead .__title {
    font-family: "Inter-Black";
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    white-space: pre-line;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) { 
}

@media screen and (max-width: 768px) {
  .lead .__title {
    font-size: calc(100vw * (96 / 768));
    line-height: calc(100vw * (100 / 768));
  }
}

@media screen and (max-width: 320px) {
  .lead .__title {
    font-size: calc(100vw * (40 / 320));
    line-height: calc(100vw * (44 / 320));
  }
}












.lead .__subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
    white-space: pre-line;
    margin: 32px auto 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .lead .__subtitle {
    font-size: calc(100vw * (16 / 320));
    line-height: calc(100vw * (20 / 320));
    margin: 5vw auto 0;
  }
}










.lead .__image {
    max-width: 984px;
    margin: 64px auto 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .lead .__image {
    width: 90.625vw;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .lead .__image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead .__image {
    margin: 12.5vw auto 0;
  }
}





.caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
    margin: 8px 0 0 148px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .caption {
    margin: 8px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .caption {
    font-size: calc(100vw * (10 / 320));
    line-height: calc(100vw * (14 / 320));
    margin: 2.5vw 0 0 5vw;
  }
}






.lead {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: calc(100vw * (48 / 1024));
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-top: calc(100vw * (48 / 768));
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-top: 15vw;
  }
}







.intro {
    max-width: 690px;
    margin-left: 148px;
    padding-top: 92px;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
    .intro {
      width: calc(100vw * (690 / 1024));
      margin-left: calc(100vw * (48 / 1024));
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      width: calc(100% - 48px);
      padding-top: calc(100vw * (88 / 768));
      margin-left: 24px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro {
      width: calc(100vw * (288 / 320));
      margin: 0 auto;
      padding: 20vw 0 0;
    }
  }









.intro .__title {
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
    .intro .__title {
      font-size: calc(100vw * (54 / 768));
      line-height: calc(100vw * (58 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro .__title {
      font-size: calc(100vw * (32 / 320));
      line-height: calc(100vw * (35 / 320));
    }
  }




















.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    padding: 92px 0 0;
    margin: 0 48px;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid {
      gap: 14px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(calc(100vw * (288 / 768)), 1fr));
      gap: 16px;
      padding-top: calc(100vw * (88 / 768));
      margin: 0 3.125vw;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(min-content, calc(100vw * (288 / 320))));
      grid-template-columns: repeat(auto-fit, minmax(min-content, calc(100vw * (288 / 320))));
      gap: calc(100vw * (12 / 320));
      padding: 20vw 0 0 0;
      margin: 0 5vw;
    }
  } 















.places {
    padding-top: 92px;
    display: grid;
    row-gap: 80px;
    margin: 0;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
    .places {
      padding-top: calc(100vw * (88 / 768));
      row-gap: calc(100vw * (73 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .places {
      padding-top: calc(100vw * (64 / 320));
      width: 100%;
      row-gap: calc(100vw * (50 / 320));
    }
  }






.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto;
}
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
    .place{
      width: calc(100vw * (928 / 1024));
          column-gap: calc(100vw * (32 / 1024));
    }
  }
  
  @media screen and (max-width: 768px) {
    .place{
      width: calc(100vw * (720 / 768));
      column-gap: calc(100vw * (28 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .place {
      width: 100%;
      -ms-grid-columns: none;
      grid-template-columns: none;
      row-gap: calc(100vw * (32 / 320));
    }
  }








.place .__title {
    font-family: "Inter-Black";
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
  }
  
  @media screen and (max-width: 1280px) {
    .place .__title {
      width: calc(100vw * (460 / 1280));
    }
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
    .place .__title {
      width: calc(100vw * (330 / 768));
      font-size: calc(100vw * (42 / 768));
      line-height: calc(100vw * (46 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .place .__title {
      width: calc(100vw * (288 / 320));
      font-size: calc(100vw * (32 / 320));
      line-height: calc(100vw * (35 / 320));
      padding: 0 5vw;
    }
  }


  .__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 320px) {
    .__website {
      margin: 0 5vw;
    }
  }









.__la {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 18px;
  align-items: flex-end;
  list-style: none;
  line-height: 0;
  padding: 0;
  margin: 0px 0 3px 0;
}

@media screen and (max-width: 1280px) {
  .__la {
    margin: 18px 0 6px 0;
    column-gap: 18px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .__la {
    margin: 0 0 2.5vw 0;
    column-gap: calc(100vw * (18 / 320));
  }
} 



.__lang {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .__lang {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .__lang {
    font-size: calc(100vw * (18 / 320));
    line-height: calc(100vw * (20 / 320));
  }
}

.__lang_grey {
  text-decoration: none;
  color: white;
  transition: opacity 0.3s linear;
  cursor: pointer;

}

.__lang_grey:hover {
  opacity: 0.5;
}



 .__lang:nth-child(1) {
    text-decoration: underline;
} 

.en_lang {
    position: absolute;
    top: -9999px;
    left: -9999px;
}






















.__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    
    margin: 40px 0 0 0;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
    
  }
  
  @media screen and (max-width: 768px) {
    .__text {
      font-size: calc(100vw * (16 / 768));
      line-height: calc(100vw  * (26 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .__text {
      font-size: calc(100vw * (16 / 320));
      line-height: calc(100vw  * (26 / 320));
      margin: 12.5vw 0 0 0;
    }
  }



































.__list {
    font-size: 12px;
    line-height: 18px;
    font-family: "Inter-Bold";
    font-weight: 700;
    list-style: none;
    color: #ffffff;
    margin: 33px 0 0 0;
    padding: 0;
  }
  
  @media screen and (max-width: 1280px) {
    .__list {
    font-size: calc(100vw * (12 / 1280));
    line-height: calc(100vw * (18 / 1280));
    }
  }
  
  @media screen and (max-width: 1024px) {
    .__list {
      font-size: calc(100vw * (12 / 1024));
      line-height: calc(100vw * (18 / 1024));
      }
    
  }
  
  @media screen and (max-width: 768px) {
    .__list {
      font-size: calc(100vw * (12 / 768));
      line-height: calc(100vw * (18 / 768));
      }
  }
  
  @media screen and (max-width: 320px) {
    .__list {
      font-size: calc(100vw * (12 / 320));
      line-height: calc(100vw * (18 / 320));
      margin: 10.625vw 0 0 0;
    }
  }

  .intro__weight {
    font-family: "Inter-Medium";
    font-weight: 400;
  }




















.__item {
    max-width: 100%;
    cursor: pointer;
}


.__item_grey-item {
    width: 100%;
    display: block;
    position: relative;
}

.__item_grey-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 100%;
}


.__item_grey-item:hover:after {
    opacity: 1;
}







.places .__image {
    max-width: 460px;
    margin: 0;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
    .places .__image {
      width: calc(100vw * (440 / 1024));
    }
  }
  
  @media screen and (max-width: 768px) {
    .places .__image {
      width: calc(100vw * (340 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .places .__image {
      width: 100%;
    }
  }

////



.place__paragraph {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 5vw;
  }
}
















.posit {
    align-self: flex-end;
}



.__paragraf {
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
    color: #ffffff;
    margin: 0;
  }
  
  .__paragraf:nth-of-type(3) {
    margin: 26px 0 0 0;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
    .__paragraf {
      font-size: calc(100vw * (16 / 768));
      line-height: calc(100vw * (26 / 768));
    }
  
    .__paragraf:nth-of-type(2) {
      margin: 3.255208333333333vw 0 0 0;
    }
  }
  
  @media screen and (max-width: 320px) {
    .__paragraf {
      font-size: calc(100vw * (16 / 320));
      line-height: calc(100vw * (26 / 320));
    }
  
    .__paragraf:nth-of-type(2) {
      margin: 7.8125vw 0 0 0;
    }
  }








.url-heading {
    height: 12px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
  
    margin: 0 0 12px 0;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 320px) {
    .url-heading {
      font-size: calc(100vw * (12 / 320));
      line-height: 1;
      letter-spacing: calc(100vw * (2 / 320));
      margin: 0 0 3.75vw 0;
    }
  }
























li .__link {
    font-family: "Inter-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}



.cover {
  max-width: 1184px;
  padding-top: 92px;
  margin: 0 auto;

}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: calc(100vw * (90 / 768));
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: calc(100vw * (66 / 320));
  }
}

/* /////////////////////////////// */

.__background {
  position: relative;
  width: 100%;
  height: 740px;
  background-image: url(./sprint-3-images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  background-color: #2A2C2F;
}

.cover__overlay:hover::before {
  opacity: .8;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    height: calc(100vw * (640 / 1024));
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    height: calc(100vw * (480 / 768));
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    height: calc (100vw * (200 / 320));
  }
}



 .cover .__title {
  font-family: "Inter-Black";
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  white-space: pre-line;
  margin: 20% 0 0 0; 
  z-index: 1;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .cover .__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover .__title {
    font-size: calc(100vw * (72 / 768));
    line-height: calc(100vw * (76 / 768));
    margin-top: calc(100vw * (115 / 768));
  }
}

@media screen and (max-width: 320px) {
  .cover .__title {
    font-size: calc( 100vw * (32 / 320));
    line-height: calc( 100vw * (35 / 320));
    margin-top: 10%;
  }
}











.cover .__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  white-space: pre-line;
  margin: 3% 0 0 0;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
  .cover .__subtitle {
    font-size: calc(100vw * (14 / 320));
    line-height: calc(100vw * (16 / 320));
    margin: 3% 0 0 0;
  }
}






.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 11.4583vw 3.125vw 3.125vw;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding: 20vw 33.75vw 7.5vw 5vw;
  }
}


 .footer .__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  margin: 0 18px 0 0;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .footer .__link {
    font-size: calc(100vw * (16 / 768));
    line-height: calc(100vw * (18 / 768));
    margin: 0 2.34375vw 0 0;
  }
}

@media screen and (max-width: 320px) {
  .footer .__link {
    font-size: calc(100vw * (24 / 320));
    line-height: calc(100vw * (24 / 320));
    margin: 0 0 10vw 0;
  }
}



.__copyright {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .__copyright {
    font-size: calc(100vw * (14 / 768));
    line-height: calc(100vw * (16 / 768));
  }
}

@media screen and (max-width: 320px) {
  .__copyright {
    font-size: calc(100vw * (14 / 320));
    line-height: calc(100vw * (14 / 320));
    margin-top: 5vw;
  }
}


.footer .__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .footer .__list {
            flex-direction: column;
  }
}



.__link {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 1280px) {
  }
  
  @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
    .__link {
      font-size: calc(100vw * (18 / 768));
      line-height: calc(100vw * (22 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .__link {
      font-size: calc(100vw * (18 / 320));
      line-height: calc(100vw * (22 / 320));
    }
  }

.__link_grey {
  color: #ffffff;
  transition: opacity 0.3s linear;


}
.__link_grey:hover {
  opacity: 0.5;
}








