.intro__list {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    list-style: none;
    color: #ffffff;
    margin: 33px 0 0 0;
    padding: 0;
  }

  @media screen and (max-width: 320px) {
    .intro__list {
      font-size: calc(100vw * (12 / 320));
      line-height: calc(100vw * (18 / 320));
      margin: 10.6vw 0 0 0;
    }
  }