.footer__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  display: block;
  margin: 0 18px 0 0;
  color: #ffffff;
}

 @media screen and (max-width: 768px) {
   .footer__link {
    font-size: calc(100vw * (16 / 768));
    line-height: calc(100vw * (18 / 768));
    margin: 0 2.34375vw 0 0;
  }
}
 
@media screen and (max-width: 766px) {
  .footer__link {
   font-size: 24px;
   line-height: 24px;
   margin: 0 2.3vw 4.18vw 0;
 }
}

@media screen and (max-width: 320px) {
   .footer__link {
    font-size: calc(100vw * (24 / 320));
    line-height: calc(100vw * (24 / 320));
    margin: 0 0 10vw 0;
  }
}