.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 26px 0 0 0;
}

.place__paragraph:first-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 3.29vw 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: calc(100vw * (16 / 320));
    line-height: calc(100vw * (26 / 320));
    padding: 0 calc(100vw * (16 / 320));
    margin: 7.8vw 0 0 0;
  }
}
