@font-face {
    font-family: "Inter";
    src: url(../../font/Inter-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(../../font/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(../../font/Inter-Black.ttf);
    font-weight: 900;
}