.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
list-style-type: none;
color: #2F80ED;
transition: opacity .2s linear;
cursor: pointer;
}

.khan__buy-link:hover{
  opacity:.6;
}


