.cover__background {  
    width: 100%;
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }

  @media screen and (max-width: 1024px) {
    .cover__background {
      min-height: calc(100vw * (640 / 1024));
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__background {
      min-height: calc(100vw * (480 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__background {
      min-height: calc(100vw * (200 / 320));
    }
  }


  .cover__background::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-color: #2A2C2F;
  }
  
  .cover__background:hover::before {
    opacity: 0.8;
    transition: opacity 0.5s linear;
  }
  