.place__url-heading {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 0 12px 0;
    text-transform: uppercase;
  }


  @media screen and (max-width: 320px) {
    .place__url-heading {
      font-size: calc(100vw * (12 / 320));
      margin: 0 0 3.7vw 0;
    }
  }
